@using ShoppingWEBUI.Core.DTO.User
@model List<UserDTO>
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kullanıcılar</h3>

        <div class="card-tools">
            @* <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-User_AddKaydet">Ekle</button> *@
        </div>
    </div>
    <div class="card-body">
        <table id="tblUsers" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th style="width:10%"></th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>E-Posta</th>
                    <th>Telefon Numarası</th>
                    @*                     <th style="width:25%">İşlemler</th> *@
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Convert.ToInt32(i+1)</td>
                            <td>@Model[i].Adi</td>
                            <td>@Model[i].Soyadi</td>
                            <td>@Model[i].EPosta</td>
                            <td>@Model[i].Tel</td>
                            <td>
                                <div class="btn-group">
                                    @*<button type="button" class="btnRemoveUser btn btn-danger" data-id=@Model[i].Guid>Sil</button>*@
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <!-- /.card-footer-->
</div>

<script>
    // $(function () {
    //     $("#tblUsers").DataTable({
    //         "responsive": true,
    //         "lengthChange": false,
    //         "autoWidth": false,
    //         "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //     }).buttons().container().appendTo('#tblUsers_wrapper .col-md-6:eq(0)');

    //     $('#btnUser_AddKaydet').click(function () {
    //         var user = new Object();
    //         user.Name = $('#txtUserName').val();


    //         $.ajax({
    //             url: '/Admin/AddUser',
    //             type: 'post',
    //             data: { category },
    //             beforeSend: function (xhr) {
    //                 xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
    //             },
    //             success: function (response) {
    //                 if (response.success) {
    //                     Swal.fire({
    //                         position: 'top-end',
    //                         icon: 'success',
    //                         title: response.message,
    //                         showConfirmButton: false,
    //                         timer: 3000
    //                     });


    //                     setTimeout(function () { window.location.reload() }, 3000);

    //                 }
    //                 else {
    //                     Swal.fire({
    //                         icon: 'error',
    //                         title: 'Hata Oluştu',
    //                         text: 'Something went wrong!'
    //                     })
    //                 }


    //             },
    //             error: function () {
    //                 Swal.fire({
    //                     icon: 'error',
    //                     title: 'İstek Sırasında Hata Oluştu',
    //                     text: 'Something went wrong!'
    //                 })
    //             }

    //         });

    //     })

</script>